body {
    background-color:white;
}

.navbar {
    position: sticky;
   
}

.nav_list {
    background-color:rgb(223, 247, 14);
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}
#subbut{
    margin-top: 10px;
}
.nav_item{
    list-style: none;
    margin-left: 50px;
}
.nav_item:first-child{
    margin-right: auto;
    margin-left: 5px;
}
#box_valid{
    background-color: blue;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    margin: 20px;
    display: flex;
    margin-left: 40%;
    padding: 20px;

}
#errorbox {
    background-color: aquamarine;
    border-radius: 5px;
    width: 300px;
    height: 220px;
    display: flex;
    margin-left: 40%;
    padding: 20px;
}

#error {
    padding: 20px;
    display: none;
   
}

.valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -40px;
    content: "✔";
  }

  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -40px;
    content: "✖";
  }



